/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}



a{
	text-decoration: none;
	color:#0000FF;
}

a:hover{
	text-decoration: none;
	color:#0000FF;
}


body{
  font: 10px Arial, Helvetica, sans-serif;
  /* color: #000000; */
  line-height: 20px;
 
width:90%;
margin: auto;

}

#main {
	width: 982px;
	margin: 0px auto;
}

#header { 
width:982px;
background: url(images4/header.jpg) left top no-repeat;
height: 267px;
}

#logo {	font-family: Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:18px;
		font-style:italic;
		padding: 2px 0px 0px 13px;
		background: url(images4/big_img.jpg) left top no-repeat;
		height: 60px;
}

#logo a {
	
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-size: 15px;
  color: #ACACB2;
}
}


#logo H2 a{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight:100;
}

#buttons{
	width: 982px;
	background: url(images4/bg_but.jpg) left top no-repeat;
	text-align:center;
	padding-top: 10px;
	height: 45px;
}

#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	display: block;
	float: left;
	height: 33px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 12px;
	padding-left: 0px;
	text-align: center;
	width: 194px;
	background: url(images4/but.png) left top no-repeat;
}

#buttons a:hover {
	background:url(images4/but_ov.png) left top no-repeat;
	text-decoration: underline;
}

.but_p {width: 3px;
float:left;}

#box_all {
height: 200px;
margin-top:50px;
display : inline-block;}

#box_all h1 {
font-size:12px;
color:#FFFFFF;
font-weight:100;

}

#box_all .text {
padding: 9px 15px 0px 10px;}

.box {
width: 315px;
height: 30px;
float: left;
margin-right:10px;
margin-top:10px;
box-shadow:2px 1px #1f272b;
} 


.box1 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box2 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box3 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box4 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box5 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box6 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box7 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box8 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box9 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box10 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box11 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box12 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box13 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box14 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box15 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box16 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box17 { background:url(images4/box1.jpg) ;border-radius: 10px;}
.box18 { background:url(images4/box1.jpg) ;border-radius: 10px;}

.read_box {
	text-align:right;
	padding-right:10px;
	padding-top: 4px;
	font-weight:bold;}
	
.r { color:#C0C0C0;z-index: 100;}
.f { color:#C0C0C0;z-index: 100;}
.o { color:#C0C0C0;z-index: 100;}
.t { color:#C0C0C0;z-index: 100;}
.l { color:#C0C0C0;z-index: 100;}
.m { color:#C0C0C0;z-index: 100;}
.n { color:#C0C0C0;z-index: 100;}
.s { color:#C0C0C0;z-index: 100;}
.u { color:#C0C0C0;z-index: 100;}
.v { color:#C0C0C0;z-index: 100;}
.w { color:#C0C0C0;z-index: 100;}
.a { color:#C0C0C0;z-index: 100;}
.b { color:#C0C0C0;z-index: 100;}
.c { color:#C0C0C0;z-index: 100;}
.d { color:#C0C0C0;z-index: 100;}
.h { color:#C0C0C0;z-index: 100;}


.img_box {	float:left;
		margin: 6px 10px 3px 0px;
}

#top_tb {
width: 982px;
height: 10px;
background: url(images4/tb_top.gif) center top no-repeat;
}

#bot_tb {
width: 982px;
height: 10px;
background: url(images4/tb_bot.gif) center bottom no-repeat;
}

#tb{
	width: 982px;
	padding: 0px 0px 0px 0px;
	background: url(images4/tb.gif)  center repeat-y;
	margin: 0px 0px 0px 0px;
}

#left{
	width: 622px;
	margin: 0px 0px 0px 13px;
	float: left;
	color:#000000;
}

.right_b {	background: url(images4/fish_right.gif)  0px 6px no-repeat;
		padding-left: 28px;
		padding-right: 5px;
}

.text{
	padding: 0px 0px 0px 0px;
}

.img {	float:left;
		margin: 7px 16px 3px 0px;
}

.img_r {	float: right;
		margin: 7px 0px 3px 16px;
}

span {font-weight:bold;}

#left span {	color:#8D0711;
		font-weight:bold;
}

#right span {	color:#8D0711;
		font-weight:bold;
}

#left H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #D25B2E;
	text-align:left;
	padding: 5px 0px 10px 0px;
}

#right H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #D25B2E;
	text-align:left;
	padding: 5px 0px 10px 0px;
}

.read{
	text-align:right;
	padding-right:10px;
	padding-top: 5px;
	font-weight:bold;
	text-decoration:none;
}

.fish_read {
margin: 0px 2px 1px 0px;
}

.read a{
color: #8D0711;}

#right{
float: right;
width: 294px;
margin-right: 16px;
padding: 0px 0px 0px 0px;
}

#footer{
	height: 62px;
	width: 100%;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	clear:both;
	padding: 20px 0px 0px 0px;
	background: url(images4/foter.gif) 0px 10px  no-repeat;
}

#footer a{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
}

#footer a:hover{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline;
}

/* Media queries used on blog.staydecent.ca by Adrian Unger 
   check my full source at:
   http://blog.staydecent.ca/static/css/style-0.1.6.css */
@media only screen and (min-width:768px) and (max-width:1269px) {
    /* In my particular design, I used a fluid grid limited to a 
       max-width of 1140px, while (if there is enough room)
       pushing the menu outside of layout, requiring a total
       limit of at least 1270px. 

       So, this first query applies to any screen-width less
       than 1270px, and adapts accordingly. */
}
@media only screen and (min-width:768px) and (max-width:959px) {
    /* Here is where I adjust for Ipad's and similar screen
       widths. Note that the above query and this one overlap
       meaning any rules above will also apply. */
}
@media only screen and (min-width:0px) and (max-width:767px) {
   /* As soon as we fall below the Ipad's width I use my 'mobile'
      design. So, everything in this query is meant for 
      smartphones and other small screens. */
}
 
/* A popular grid size used is 960px. Skeleton, a new Boilerplate
   for Responsive, mobile-friendly development, is based on that.
   http://www.getskeleton.com/src/stylesheets/skeleton.css */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* Here, Skeleton sets the rules for anything less than 960px
       and at least the size of the Ipad screen. */
}
@media only screen and (max-width: 767px) {
    /* Here, rules for anything less than Ipads width, with the
       advice to design for the smallest common width, 320px.
       This is the majority of smarthphones. */
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* This is for any screen less than Ipad's width and at least
       480px. This covers a many large-screened smartphones. It
       is declared after the above rule so it overrides the rules
       meant for 320px. */
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}



/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}


/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* ----------- Apple Watch ----------- */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm) { 

}

/* ----------- Moto 360 Watch ----------- */
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 

}